<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
  <body>
    <nav>
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
     <ul class="navLink">
       <li><a href="#">About</a></li>
       <li><a href="#">Contact</a></li>
       <li><a href="#">Projects</a></li>
     </ul>
    <div class="lines">
     <div class="l1"></div>
     <div class="l2"></div>
     <div class="l3"></div>
    </div>
    <form action="/logout" method="post">
      <button type="submit" style="padding: 10px 20px; background: #333; color: white; text-decoration: none; border-radius: 5px;">Logout</button>
    </form>
   </nav>

     <!-- Cards: User -->
  <div class="user-card">
    <!-- Card Cover/Avatar -->
    <div class="card-cover" style="background-image: url('https://cdn.tailkit.com/media/placeholders/photo-JgOeRuGD_Y4-800x400.jpg');">
      <div class="avatar-wrapper">
        <div class="avatar">
          <img src="https://www.shutterstock.com/image-vector/avatar-gender-neutral-silhouette-vector-600nw-2470054311.jpg" alt="User Avatar" class="avatar-img">
        </div>
      </div>
    </div>
    <!-- END Card Cover/Avatar -->

    <!-- Card Body -->
    <div class="card-body">
      <h3 class="card-name">Ravi Saini</h3>
      <p class="card-info">12 pictures</p>
    </div>
    <!-- END Card Body -->
  </div>
   

 <script src="https://code.jquery.com/jquery-3.3.1.js">
  const navSlide = () => {
		const lines = document.querySelector('.lines');
		const nav = document.querySelector('.navLink');
		
		lines.addEventListener('click',() => {
			nav.classList.toggle('nav-active');
			
		//Line Animation
		lines.classList.toggle('toggle');
		});
	   
	}
	
	navSlide();
 </script>
  <script src="app.js"></script>
</body>
         
</html>
